@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

@media (max-width: 37.5em) {
  html{
    font-size: 50%;
  }
}

body{
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

/* G l o b a l */
button{
  font-size: 1.5;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
}

/* N a v */
.header{
  width: 100%;
  height: 10vh;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.header__left{
  display: flex;
  align-items: center;
}

.header__left a:not(:last-child){
  margin-right: 2rem;
}

.header_logo{
  width: 15rem;
  margin-right: 2rem;
}

.header__left a{
  font-size: 1.3rem;
  font-weight: 500;
  padding: .8rem 2rem;
  border-radius: 5px;
  transition: background-color .3s ease;
}

.header__left a:hover{
  background: rgba(0, 0, 0, 0.062);
  
}

.header__dropdown{
  display: flex;
}

.header__right button{
  padding: .8rem 2rem;
}

.header__right button:nth-child(1) {
  margin-right: 2rem;
  background-color: #707070;
  color: #fff;
}

.header__right button:nth-child(2){
  background-color: #ffc542;
  color: rgb(46, 46, 46);
}

@media (max-width: 37.5em) {
  .header{
    padding: 0 2rem;
  }

  .header__left a{
    display: none;
  }

  .header__right{
    display: flex;
  }

  .header__right button{
    font-size: .5rem;
  }

  .header__right button:nth-child(1){
    margin-right: .5rem;
  }
}

/* H o m e */
.hero{
  display: flex;
  padding: 18rem 0 10rem 15rem;
}

.hero__heading{
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: .15rem;
  line-height: 1.3;
}

.hero__sub{
  font-size: 1.65rem;
  width: 30%;
}

.hero__img{
  width: 50%;
  position: absolute;
  right: 15rem;
  top: 15rem;
  z-index: -1;
}

.hero__cta{
  margin-top: 2rem;
}

.hero__cta button:nth-child(1){
  margin-right: 2rem;
  background-color: #ffc542;
}

.hero__cta button:nth-child(2){
  background-color: #707070;
  color: #fff;
}

.hero__cta button{
  padding: .8rem 2rem;
}

@media (max-width: 37.5em){
  .hero{
    padding: 6rem 0 0 5rem;
  }

  .hero__sub{
    margin-bottom: 3rem;
    width: 80%;
  }

  .hero__heading{
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  .hero__img{
    width: 75%;
    top: 60%;
    right: 50%;
    transform: translate(50%, 0);
  }
}

/* G r o o m i n g */
.grooming{
  display: flex;
  padding: 30rem 0 15rem 15rem;
  position: relative;
}

.grooming__heading{
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: .15rem;
  line-height: 1.3;
}

.grooming__sub{
  font-size: 1.65rem;
  width: 30%;
}

.grooming__sub:not(:last-child){
  margin-bottom: 1.5rem;
}

.grooming__img{
  width: 40%;
  position: absolute;
  right: 15rem;
  top: 15rem;
  z-index: -1;
}

.grooming__cta{
  margin-top: 2rem;
}

.grooming__cta button:nth-child(1){
  margin-right: 2rem;
  background-color: #ffc542;
}

.grooming__cta button:nth-child(2){
  background-color: #707070;
  color: #fff;
}

.grooming__cta button{
  padding: .8rem 2rem;
}

@media (max-width: 37.5em){
  .grooming{
    padding: 40rem 0 0 5rem;
  }

  .grooming__sub{
    margin-bottom: 3rem;
    width: 80%;
  }

  .grooming__heading{
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .grooming__img{
    width: 75%;
    top: 105%;
    right: 50%;
    transform: translate(50%, 0);
  }
}

/* S e r v i c e s */
.services{
  padding: 10rem 15rem;
}

.services__title{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
  font-size: 4rem;
}

.services__categories{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services__item{
  text-align: center;
}

.services__item img{
  width: 10rem;
}

.services__item p {
  font-size: 2rem;
  font-weight: 500;
}

@media(max-width: 37.5em){
  .services{
    width: 100%;
    padding: 45rem 5rem 10rem 5rem;
  }

  .services__title{
    font-size: 3rem;
  }

  .services__item img{
    width: 8rem;
  }

  .services__categories{
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 2.5rem;
    justify-content: center;
  }
}

 /* K e n n e l  P a r k */
 
 .kennel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 0 10rem 15rem;
  position: relative;
}

.kennel__heading{
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: .15rem;
  line-height: 1.3;
}

.kennel__sub{
  font-size: 1.65rem;
  width: 60%;
}

.kennel__sub:not(:last-child){
  margin-bottom: 1.5rem;
}

.kennel__img{
  width: 50%;
  border-radius: 10px;
  margin-right: 10rem;
}

.kennel__cta{
  margin-top: 2rem;
}

.kennel__cta button:nth-child(1){
  margin-right: 2rem;
  background-color: #ffc542;
}

.kennel__cta button:nth-child(2){
  background-color: #707070;
  color: #fff;
}

.kennel__cta button{
  padding: .8rem 2rem;
}

@media (max-width: 37.5em){
  .kennel{
    flex-direction: column;
    padding: 5rem 5rem 10rem 5rem;
  }

  .kennel__sub{
    margin-bottom: 3rem;
    width: 80%;
  }

  .kennel__heading{
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .kennel__img{
    width: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

/* T r a i n i n g */

.training{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 0 10rem 15rem;
  position: relative;
}

.training__heading{
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: .15rem;
  line-height: 1.3;
}

.training__sub{
  font-size: 1.65rem;
  width: 70%;
}

.training__sub:not(:last-child){
  margin-bottom: 1.5rem;
}

.training__img{
  width: 50%;
  border-radius: 10px;
  margin-right: 10rem;
}

.training__cta{
  margin-top: 2rem;
}

.training__cta button:nth-child(1){
  margin-right: 2rem;
  background-color: #ffc542;
}

.training__cta button:nth-child(2){
  background-color: #707070;
  color: #fff;
}

.training__cta button{
  padding: .8rem 2rem;
}

@media (max-width: 37.5em){
  .training{
    flex-direction: column;
    padding: 5rem 5rem 10rem 5rem;
  }

  .training__sub{
    margin-bottom: 3rem;
    width: 90%;
  }

  .training__cta{
    margin-bottom: 2rem;
  }

  .training__heading{
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .training__img{
    width: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}


/* D r o p d o w n */

.dropdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #ffc542;
  width: 60%;
  padding: 2rem;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  transition: all .3s ease;
}

.active{
  top: 10rem;
}

.dropdown__item{
  font-size: 2rem;
  padding: .8rem 2rem;
  border-radius: 5px;
  transition: background-color .3s ease;
}

.dropdown__item:hover{
  background-color: rgba(0, 0, 0, 0.062)
}

.dropdown__item:not(:last-child){
  margin-bottom: 2rem;
}


.menu{
  font-size: 0rem;
  cursor: pointer;
}

@media (max-width: 37.5em){
  .menu{
    font-size: 3rem;
  }
}

/* C o n t a c t */

.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 15rem 10rem 15rem;
}

.contact img{
  width: 50%;
}

.contact__form{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 37.5em){
  .contact{
    flex-direction: column;
    padding: 5rem 5rem 5rem 5rem;
  }

  .contact__form{
    width: 100%;
  }

  .contact img{
    width: 100%;
    margin-top: 2rem;
  }
}